body {
  font-family: 'Crimson Text', sans-serif;
  font-size: 22px;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Crimson Text', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Crimson Text', sans-serif;
}

.publication-authors {
    font-family: 'Crimson Text', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.chair-svg {
  display: inline-block;
  width: 1em; /* Adjust as needed */
  height: 1em; /* Adjust as needed */
  background-image: url('../images/chair-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.bed-svg {
  display: inline-block;
  width: 1.2em; /* Adjust as needed */
  height: 1.2em; /* Adjust as needed */
  background-image: url('../images/bed.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.sofa-svg {
  display: inline-block;
  width: 1em; /* Adjust as needed */
  height: 1em; /* Adjust as needed */
  background-image: url('../images/couch-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.2em;
}

.bath-svg {
  display: inline-block;
  width: 1em; /* Adjust as needed */
  height: 1em; /* Adjust as needed */
  background-image: url('../images/bath-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.house-svg {
  display: inline-block;
  vertical-align: middle;
  width: 1.8em; /* Adjust size as needed */
  height: 1.8em; /* Adjust size as needed */
  background-image: url('../images/HoloDeckLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* margin-right: 0.5em; Adjust spacing as needed */
}

.small-caps {
  font-variant: small-caps;
  /* Additional styling as needed */
}


.logo {
  height: 80px; /* adjust as needed */
  width: auto;
}

.media-display {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.media-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.item-1 .image-caption-container .caption {
  text-align: center;
  display: block;
  margin: auto;
  white-space: normal;
  height: auto;
  overflow: hidden;
}

.item-1 .image-caption-container .caption:nth-child(2) {
  height: 4em; /* Adjust as needed to fit two lines */
  line-height: 2em; /* Adjust as needed for vertical centering */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}